
$theme-colors: (
  "primary": #0074d9,
  "danger": #a2d0b8
);

$text-color: #d8d8d8;

$take-action: #aff8e8;

$accent-light: #aff8e8;
$accent-medium: #327264;

$main-medium: #383838;
$main-dark: #3b3b3b;

$secondary-light: #ffd6d6;
$secondary-medium: #a25757;
$secondary-heavy: #ff8585;

$home-accent: #29ffd0;

$light-purple:#d5a5ff;
$light-yellow: #fff469;
$light-blue: #5ea9ff;
$light-orange: #ffb44b;

$tint-purple: rgba(213, 165, 255, 0.3);
$tint-yellow: rgba(255, 244, 105, 0.3);
$tint-blue: rgba(94, 169, 255, 0.3);
$tint-orange: rgba(255, 180, 75, 0.5);


$bold-blue: #3190ff;
$bold-purple: #9721ff;
$bold-orange: #ff9d14;
$bold-yellow: #fff469;

@import url('https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

@import "../node_modules/bootstrap/scss/bootstrap";